.venv

# Files with sensitive information
generate_input.py
*.env
.env*
__pycache__


# Folders
AMIE-App
amie-app2
doctorpoc
sft_output
medical_dataset


#datasets
datasets/SFT/chatdoctor5k.json
datasets/SFT/generalize2.json
datasets/SFT/generalize1.json
datasets/SFT/converted_augmented_clinical_notes_qa.jsonl
datasets/SFT/combined_dataset.jsonl
datasets/icliniq.json
datasets_for_dataGen
datasets/other

