.venv

# Files with sensitive information
generate_input.py
*.env
.env*

# Folders
AMIE-App
amie-app2
doctorpoc
sft_output
medical_dataset


#datasets
datasets/generalize2.json
datasets/generalize1.json
datasets/combined_dataset.jsonl
datasets/icliniq.json