<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167035251204-j2k9vlsh7j8snp36tfl77hpfh0r7m74s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167035251204-j2k9vlsh7j8snp36tfl77hpfh0r7m74s</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ5CfgOdH9U8GbjImJcly9O0Wo8eE4d1o</string>
	<key>GCM_SENDER_ID</key>
	<string>167035251204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amieFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>amie-e983b</string>
	<key>STORAGE_BUCKET</key>
	<string>amie-e983b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167035251204:ios:342fdf33b61081330ee351</string>
</dict>
</plist>